# Ignore everything
*
# Don't ignore directories, so we can recurse into them
!.travis.yml
!.goreleaser.yml
!.gitkeep
!.gitignore
!LICENSE
!README.md
!Dockerfile
!Makefile
!*.go
!.gitkeep
!*/
!*.md
!*.toml
!*.sample
src
pkg
vendor
portanus.yaml
